/* GLOBAL STYLES */

body {
	background-color: #FFFFFF;
	color: #3D4748;
	
	font-family: "Verdana", "Arial";
}

ul {
	padding: 0px;
	margin: 0px;
}

ol {
	padding: 0px;
	margin: 0px;
}

a:link {
	color: /* Insert LinkColour */;
	text-decoration: none;
	font-weight: 800;
	font-size: 14px;
	font-style: italic;
}

a:visited {
	color: /* Insert LinkColourVisited */;
	text-decoration: none;
	font-weight: 800;
	font-size: 14px;
	font-style: italic;
}

a:hover {
	color: /* Insert LinkColourHover */;
	text-decoration: none;
	font-weight: 800;
	font-size: 14px;
	font-style: italic;
}

#main {
	background-color: #FFFFFF;
	
	width: 720px;
	margin: 10px auto 50px auto;
	padding: 10px;
}
