/* NAVIGATION BAR STYLES */

#navigation {
	
}

#navigationBar {
	background-color: #FFFFFF;
	
	background-image: url('img/header.png');
	border-style: solid;
	border-color: /* Insert BorderColour */;
	border-width: 0px 1px 1px 1px;
	height: 36px;
	
	padding: 0px 20px 0px 20px;
}

.navigationBarItem {
	padding: 0px 15px 0px 15px;
	display: inline;
}

.navigationBarSeperator {
	padding: 0px 2px 0px 2px;
	display: inline-table;
    vertical-align: middle;
}

#navigationTitle {
	background-color: /* Insert BGColour 1 */;
	color: /* Insert TextColour 1 */;
	
	border-style: solid;
	border-color: /* Insert BorderColour */;
	border-width: 0px 1px 1px 1px;
	
	padding: 4px 12px 4px 12px;
	
	font-size: 14px;
}

.navigationBarItem a:link {
	color: /* Insert NavLinkColour */;
	font-style: normal;
}

.navigationBarItem a:visited {
	color: /* Insert NavLinkColourVisited */;
	font-style: normal;
}

.navigationBarItem a:hover {
	color: /* Insert NavLinkColourHover */;
	font-style: normal;
}

#navigationBarItemCurrent {
	color: /* Insert NavLinkColourHover */;
	text-decoration: none;
	font-weight: 800;
	font-size: 14px;
}
