/* SPACING STYLES */

.spacer4 {
	min-height: 4px;
	width: 0px;
}

.spacer6 {
	min-height: 6px;
	width: 0px;
}

.spacer8 {
	min-height: 8px;
	width: 0px;
}

.spacer12 {
	min-height: 12px;
	width: 0px;
}

.spacer16 {
	min-height: 16px;
	width: 0px;
}

.spacer24 {
	min-height: 24px;
	width: 0px;
}

.spacer32 {
	min-height: 32px;
	width: 0px;
}
