html {
	min-height: 400px;
	height: 100%;
	
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}

body {
	height: 100%;
	margin: 0px;
	
	background-color: #FFFFFF;
	
	font-size: 20px;
	font-family: arial;
	color: #1F1F1F;
}

h1 {
	font-size: 26px;
	font-family: arial;
	color: #1F1F1F;
	display: block;
	text-align: center;
	margin: 4px 0px;
	padding: 26px 0px 2px;
}

a {
	text-decoration: none;
	color: #1269ec;
}

a:visited {
	color: #1269ec;
}

a:hover {
	color: #258ff1;
	text-decoration: underline;
}

#site-wrapper {
	position: relative;
	height: 100%;
	margin: 0px auto;
	padding: 2px 0px 0px;
	
	box-sizing: border-box;
}

#nav-home {
	text-align: center;
	width: 100%;
	border-bottom: 1px dashed #AAAAAA;

	color: #999999;
	font-size: 18px;
}

#nav-left {
	float: left;
	text-align: left;
	width: 33.33%;

	color: #999999;
	font-size: 18px;
}

#nav-center {
	float: left;
	text-align: center;
	width: 33.33%;

	color: #999999;
	font-size: 18px;
}

#nav-right {
	float: left;
	text-align: right;
	width: 33.33%;

	color: #999999;
	font-size: 18px;
}

#content {
	width: 100%;
	min-height: 860px;
}

#content-body {
	padding-top: 12px;
	
	width: 100%;
	min-height: 748px;
	background-color: #FFFFFF;
	
	box-sizing: border-box;
}

#body-main {
	position: relative;
	text-align: left;
	width: 95%;
	overflow: auto;
	margin: 0px auto;
}

#body-main p {
	text-indent: 48px;
}

#body-main p + p {
	margin-top: 20px;
}

#body-main p + div {
	margin-top: 20px;
}

#body-main div + p {
	margin-top: 20px;
}

.code {
	text-indent: 0px;
	text-indent: 0px;
	font-size: 18px;
	color: #1F1F1F;
	background-color: #FFFFFF;
	width: 78%;
	margin: 0px auto 0px auto;
}

.codeHeader {
	margin: 0px;
	padding: 6px 12px;
	border: 1px dashed #1F1F1F;
	border-bottom: 0px;
	text-align: center;
	overflow: auto;
}

.codeBody {
	margin: 0px;
	padding: 6px 12px;
	border: 1px dashed #1F1F1F;
	text-align: left;
	overflow: auto;
	
	tab-size: 2;
	-moz-tab-size: 2;
	-o-tab-size: 2;
}

@media only screen and (max-width: 960px) {
#site-wrapper {
	width: 100%;
}
}

@media only screen and (min-width: 961px) {
#site-wrapper {
	width: 950px;
}
}
